<!DOCTYPE html>
<html>

<head>
    <title>Welcome Student!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Logo/halfLogoV1.png">
    <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="Semantic-UI-CSS-master/semantic.min.js"></script>
    <style>
        body {
            background-color: black;
        }

        #logo {
            margin-top: 50px;
            width: 200px;
        }

        #add {
            float: right;
        }

        #logout {
            float: right;
        }
    </style>
    <script>
        
        $(document).ready(function () {
            $("#detail").click(function () {
                $('#detail-modal')
                    .modal('setting', 'transition', 'horizontal flip')
                    .modal('show')
                    ;
            });
        });
    </script>
</head>

<body>
    <div class="ui container">
        <div class="ui grid">
            <div class="eight wide column">
                <a href="home"><img src="Logo/fullLogoV3.png" id="logo"></a>
            </div>
            <div class="eight wide column">
                <br>
                <br>
                <button class="ui inverted red button" onclick="window.location.href='logout'" id="logout"><i
                        class="sign out alternate icon"></i> Logout</button><br><br><br><br><br>

            </div>
            <div class="sixteen wide column">
                <table class="ui selectable inverted brown table" id="tclass">
                    <thead>
                        <tr>
                            <th>Class ID</th>
                            <th>Class Name</th>
                            <th>Class Date/time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="showclass">
                        <%- table -%>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="ui modal" id="detail-modal">
        <div class="header">Header</div>
        <div class="scrolling content">
        
        </div>
    </div>
</body>

</html>